[2021-01-14 07:09] #4795 closed

[2021-01-14 11:20] tonivj5 commented on #4756
I can reproduce this in `7.5.324`. I think it's related to its plasmashell widget, every second it consumes +10mb. The memory consumed keep in plasmashell's heap. It grows and grows with no end...
![image](https://user-images.githubusercontent.com/7110786/104584341-bcd82e00-5662-11eb-84af-e250c6cf8625.png)

[2021-01-14 13:55] atsvirchkova opened #4797 ""This site can't be reached" page is displayed after google login"
### 💻 Environment

Platform: Windows
OS Version: most probably all Windows
Toggl Version: 7.5.442

### 🐞 Actual behavior
After log in with Google, this page is displayed in browser:
![image](https://user-images.githubusercontent.com/11901598/104599275-d899ff00-5677-11eb-95c5-12588b74ca83.png)
P. S. This doesn't stop from logging in.

### 💯 Expected behavior

It should display the page with text "R

[2021-01-15 00:15] edtamayo opened #4798 "User time entries stopped syncing on Windows app"
### 💻 Environment

Platform: Windows
OS Version: Windows 10.1
Toggl Version: 7.5.418

### 🐞 Actual behavior
This user's time entries stopped syncing after a while

### 💯 Expected behavior
All time entries created on the windows desktop app should sync

### 🔨 Steps to reproduce
Unable to be reproduced on our end

### 📦 Additional info
The workspace has the following Required fields for entries: Tas

[2021-01-15 16:01] skel35 opened #4799 "Adding the "until now" (aka running gap) time entry from the Timeline view in the manual mode"
### 💻 Environment
Platform: Windows

### 📒 Description
When the user is in the manual mode and is trying to add the "until now" (aka running gap) time entry from the Timeline view the time entry gets started and the app is switching from the manual mode to the timer mode.
![image](https://user-images.githubusercontent.com/16451391/104747601-6568b980-5759-11eb-9c40-b15c9543618e.png)

But in the man

[2021-01-15 16:19] skel35 commented on #4782
Unfortunately, we won't be implementing this: https://github.com/toggl-open-source/toggldesktop/pull/4783#issuecomment-761037077
As our app is open-source, you're of course free to use your own fork of the app without analytics tracking.

[2021-01-15 16:19] #4782 closed

[2021-01-15 20:41] edtamayo opened #4800 "Timer tool tip when hovering mouse over Menu bar and running entry shows the wrong duration"
### 💻 Environment

Platform: macOS
OS Version: macOS 10.15.7
Toggl Version: 7.5.409

### 🐞 Actual behavior
The tooltip shown when hovering your mouse over the menu bar running entry as well as the timer inside the desktop app doesn't match the time shown

### 💯 Expected behavior
The time shown on the tooltip should be consistent in behavior as well as duration shown

### 🔨 Steps to reproduce

1. S

[2021-01-17 18:38] ttodua commented on #2280
Actually, I (as a freelancer) don't think that it's intrusion into my privacy if I get screenshoted.
When I work for someone remotely, then my work should be similarly as if i went to my employer's office and worked in front of its computers (where I should feel and work, as If i were under supervision - and even if i were working under cameras, it is still not intrusion into privacy, as when i wo

[2021-01-18 15:53] skel35 opened #4801 "Possible duplicate time entry when using a shaky internet connection"
### 💻 Environment
Platform: macOS
Toggl Version: 7.5.401

### 🐞 Actual behavior
The user is reporting that the app is creating duplicate time entries when trying to sync.
The user mentioned using a shaky internet connection.
The user claims they were not using any other clients except the desktop app.

### 💯 Expected behavior
The app doesn't create duplicate time entries.

### 🔨 Steps to reproduce

[2021-01-18 16:03] skel35 commented on #4801
Potential use case / steps:
- The client sends the "push" request, the server receives it but the client receives no response.
After some time, e.g. when the user stops the TE:
- The client sends the "pull" request, the server returns the response, the client cannot match the server TE with the client TE and creates a new TE. Potentially, matching by `guid` can be broken somewhere. TODO: Check how

[2021-01-19 07:37] hbayindir commented on #1913
Hello all,
When using Toggl for Linux under KDE, it causes `kwin`'s memory usage to skyrocket. Approximately 8-9 MBs/sec. I'll add a screenshot as soon as possible.

[2021-01-19 10:21] hbayindir commented on #1913
Hello all,

I've found out that, toggl Track for Linux causes KDE Plasmashell to leak 8MB of memory every second while tracking a task. I'm using the latest `flatpak` version on Debian `Testing` (Bullseye).

Below is a screenshot from tracking a task for ~13 minutes.

![plasmashell_toggle_memory_leak](https://user-images.githubusercontent.com/479423/105020931-01940880-5a59-11eb-8d75-76ad2c135e4f.p

[2021-01-19 10:39] skel35 commented on #1913
@hbayindir Thanks for reporting the issue. Other KDE users have reported a similar issue here https://github.com/toggl-open-source/toggldesktop/issues/4756. There's no resolution yet, so for now we can just recommend to use Toggl Track's web app and/or browser extension until #4756 is fixed.

[2021-01-19 10:39] skel35 commented on #4756
Another user report: https://github.com/toggl-open-source/toggldesktop/issues/1913#issuecomment-762747291

[2021-01-19 11:32] hbayindir commented on #1913
Thanks @skel35. I'll follow that issue.

[2021-01-19 23:33] nicktoggl commented on #4635
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097915/conversations/106481306677815)

[2021-01-20 03:08] nicktoggl opened #4802 "Dual monitor setup - issues with edit window"
### 💻 Environment

Platform: Windows
OS Version: Windows 10
Toggl Version: windows_native_app/7.5.418

### 🐞 Actual behavior
"I use a multi-monitor setup. my main monitor is a 27 inch 4k monitor, and second is a 23 inch ips monitor. When the toggltrack app is open on the 2nd monitor, when clicking on the time entry, the pop out window does not display to edit details, but will appear if the app ru

[2021-01-21 13:34] atsvirchkova opened #4803 "Offline log in doesn't work"
### 💻 Environment

Platform:
OS Version:
Toggl Version:

### 🐞 Actual behavior

It's impossible to log in when there is not internet connection.

### 💯 Expected behavior

It must be possible to log in with no internet given the user had previously logged in online on this machine.

### 🔨 Steps to reproduce

1. Log in under your account and log out (using any way - email-password or google log in).

[2021-01-22 12:23] VeljkoTN commented on #3715
@skel35 just putting this one back into focus 🙂

[2021-01-23 20:00] fabianfoos opened #4805 "The app writes a lot of data to the disk"
### 💻 Environment
Platform: Windows
OS Version: Windows 10
Toggl Version: 7.5.422

### 🐞 Actual behavior
The app writes a lot of data to the disk, in the screenshot you can see that it wrote 12GB of data in less than a day, even with a lot of time not tracking, nor using the computer. This behavior reduces a lot my SSD life.

### 💯 Expected behavior
The app should write less data.

### 🔨 Steps to

[2021-01-25 18:42] dianetoggl commented on #3715
This user see's "loginwindow" on their Timeline view
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481306753037)

[2021-01-26 14:45] klalinea commented on #2223
Will it be available on MacOS too?

[2021-01-28 09:17] skel35 commented on #4110
Time format retrieval from the library has been implemented in #4789

[2021-01-28 13:48] skel35 opened #4806 "Timeline view overlap resolution does not work with running TE"
### 💻 Environment

Platform: Windows
Toggl Version: 7.5.442

### 🐞 Actual behavior
Nothing happens

### 💯 Expected behavior
Overlap is resolved according to the button clicked

### 🔨 Steps to reproduce
1. Right-click on a TE that is overlapping a running TE (or right-click a running TE that is overlapping another TE)
2. Click one of the overlap resolution buttons

### 📦 Additional info

[2021-01-31 20:41] rickykresslein commented on #4756
Hi, just wanted to throw in that I am also experiencing this issue. Using KDE Plasma 5.20.5 on Fedora 33. Memory leak reaches about 5GB in ~3 hours running the TogglTrack timer.

[2021-02-04 07:36] skel35 opened #4807 "Timeline View overlap detection should have minutes' precision instead of seconds'"
### 💻 Environment
Platform: Windows

### 📒 Description
The overlap detection in the Timeline View on Windows is working well, but there are a few reasons why the seconds precision is not needed:
- The app (Edit View) doesn't allow editing of Start/End time with seconds' precision. On the Timeline View, the user can still find a way to do it, but it's not so convenient
- We should unify our behavio

[2021-02-04 07:55] AndrewVebster opened #4808 "macOS app detects idle time when user works fullscreen in other app"
### 💻 Environment

Platform: macOS
OS Version: macOS 11.1
Toggl Version: 7.5.441

### 🐞 Actual behavior

### 💯 Expected behavior

App doesn't detect idle time if a user works on another fullscreen app.

### 📦 Additional info

[Intercom case](https://app.intercom.com/a/apps/ayixs927/conversations/106481306943602?redirectTo=feed)

[2021-02-04 09:01] daniplaninc opened #4809 "[Windows] Toggl app moves to another virtual desktop after waking from sleep"
Couldn't find any issues talking about this, so I opened one.

### 💻 Environment

Platform: Windows

### 📒 Description

I normally use 2 virtual desktops (built-in Windows 10 functionality), let's call them Desktop 1 and Desktop 2. I open my Toggl Track app on Desktop 2. When I put my computer to sleep and then wake it up, the Toggl app moves to Desktop 1. No other app has ever done this. It is no

[2021-02-04 10:30] bonzaii commented on #2955
I would like to see this functionality too, really surprised there is a "browse" button but greyed out.

[2021-02-04 21:15] TheSoloJake commented on #4807
[User report](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481306809566)

[2021-02-05 07:27] skel35 opened #4810 "Review Timeline View's affect on List View's performance"
### 💻 Environment
Platform: Windows

### 📒 Description
1. Create 100 TEs per day for 10 days.
2. Do the normal time tracking and TE editing in the List View, measure performance (Start/Stop buttons, Edit view opening).
3. Turn off the Timeline View (either Backoffice flag, or flags inside the app).
4. Repeat 2.
5. If the difference is significant, investigate how to improve performance for scenari

[2021-02-05 07:46] atsvirchkova commented on #4810
It won't be enough to just turn off the flag, because it would just hide the Timeline view. All the controls would still be created. It's better to comment out the whole Timeline tab in xaml code.

[2021-02-05 12:25] parwinderbatth opened #4811 "Cannot add description in mini timer when AutoTracking started"
### 💻 Environment

Platform:
OS Version:
Toggl Version:

### 🐞 Actual behavior

When auto tracking is enabled, Mini timer shows the project name and start recording time, however, it is not possible to add description.

### 💯 Expected behavior

Similar to manual time tracking, it should be possible to add/change description even in auto tracking.

### 🔨 Steps to reproduce

1. Enable Auto Tracking

[2021-02-05 12:46] skel35 commented on #4811
Hi @parwinderbatth !
Unfortunately, we don't have inline description editing in the mini timer for now.
But you can double-click the "+ Add description" label and the Edit view will pop up with the description field focused. You can add/edit the description there and click Done or close the Edit view when you're done.

[2021-02-06 00:11] ZackEberhart opened #4812 "Pressing "New" from Mac menu bar does not focus window, but "Continue" and "Stop" do."
### 💻 Environment

Platform:
OS Version:
Toggl Version:

### 🐞 Actual behavior
When you press "New" from the menu bar to start a new timer, the Toggl window does **not** focus (i.e. pop-up), but when you press "Continue" or "Stop", the window does come into focus. I don't imagine this is intended.

### 💯 Expected behavior

When I press "New", I would expect the window to focus so I can immediately

[2021-02-07 22:38] dingvarson commented on #2223
I believe for most users this would be essential. I  use both harvest (which automatically starts and reminds me) and Toggl. And I will use harvest for more clients simply because of that feature.

If its trivial the add it.

[2021-02-08 07:29] gee-forr opened #4813 "[macOS] Updating start time for a currently running task has focus problems"
### 💻 Environment

Platform: macOs
OS Version: Big Sur 11.2
Toggl Version: 7.5.441

### 🐞 Actual behavior

* Start a timer that I should've started 30 minutes ago
* Click on the running time so that I can adjust the start time
* Click on the start field to attempt to adjust the start time
* The focus moves back to the current running time, and I'm typing in the middle of the running time
* I norma

[2021-02-09 14:22] VeljkoTN commented on #4635
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097020/conversations/106481307046151)

[2021-02-10 12:20] allanlaal commented on #2019
AFAIK this issue persisted up until I stopped using Toggl ~2020-04

I'll close this and if someone else experiences this bug, please comment here!

[2021-02-10 12:20] #2019 closed

[2021-02-11 05:00] nicktoggl commented on #4802
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097915/conversations/106481307078360)

[2021-02-11 18:29] skel35 opened #4814 "Crash when trying to run the auto-updater"
### 💻 Environment
Platform: Windows
Toggl Version: 7.5.442

### 🐞 Actual behavior
App crashes

### 💯 Expected behavior
App doesn't crash

### 🔨 Steps to reproduce
Unknown, but there are Bugsnag reports: [310 events in the past month](https://app.bugsnag.com/toggldesktop/toggldesktop/errors/5ced559b8fdb2e0018764a15?filters[event.since][0][type]=eq&filters[event.since][0][value]=30d&filters[event.se

[2021-02-11 18:35] dianetoggl commented on #4814
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/106481307074188)

[2021-02-11 20:36] dianetoggl opened #4815 "Autotracker list barely visible"
### 💻 Environment

Platform: Windows
OS Version: 10
Toggl Version: 7.5.442

### 🐞 Actual behavior
A user is finding it hard to see their autotracker list in the preferences. They tried installing the latest Windows app, clearing cache and changing the scaling percentage of their windows - but from the screenshots it's quite difficult to see. I tried changing my display settings to replicate but I

[2021-02-12 04:36] nicktoggl commented on #4802
[Case Reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481307093063)

[2021-02-12 21:27] TheSoloJake commented on #4802
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481307103085)

[2021-02-13 20:49] nonoesp commented on #2223
👋🏻 Hi, everyone!

I've been missing this option as well on macOS (and I thought that was there before).

But it's easy to make apps start automatically on login/startup.

I made a 25-second video showing how. It works!

https://youtu.be/FyCtFNPIrBc

[2021-02-15 10:33] dtolstyi opened #4816 "Auto tags feature"
### 💻 Environment
Platform: **Windows**

### 📒 Description
For me it would be really useful if we could have periodic time points. E.g. every 40 hours new time point is created.

### ⭐️ Why do you want this?
For a freelancer this can be useful to send invoices when specific amount of hours is spent on project.

### Possible solution
From what I see, it can be easily done using "automatic tags". E.

[2021-02-15 13:12] kyllikekimmel commented on #4816
Thanks for reaching out to us with this @dtolstyi. We're currently looking into adding the ability to set recurring estimates to Projects in Toggl Track. It sounds like this might help you with what you're looking to achieve as well. Be on the lookout for that later this year. Because of that, we wouldn't add this PR at the moment.

[2021-02-15 13:15] #4816 closed

[2021-02-15 13:15] dtolstyi commented on #4816
Thank you for your reply, @kyllikekimmel! Have a nice day!

[2021-02-16 05:00] nicktoggl commented on #4237
[Case Reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097915/conversations/106481307165915
)

[2021-02-16 23:17] dianetoggl commented on #4807
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/106481307175573)

[2021-02-17 04:16] nicktoggl commented on #4311
Any updates on this issue? :)

[2021-02-17 08:00] AndrewVebster commented on #4311
@nicktoggl sorry, no updates

[2021-02-17 11:13] nidarasheed opened #4817 "Show windows from this app on all desktop setting does not work for mini timer."
### 💻 Environment

Platform: Windows 10
OS Version: Windows 10
Toggl Version: 7.5.442

### 🐞 Actual behavior
Cannot check this option "Show windows from this app on all desktops" for mini timer. After resuming from sleep mini timer needs checking "Show this window on all desktops" every time over again. This works with main toggle window, but not with mini timer

![image](https://user-images.githu

[2021-02-17 17:20] TheSoloJake opened #4818 "Windows App Using Large Amount of Battery Power"
### 💻 Environment

- Laptop model, if it's a laptop: Lenovo ThinkPad T580
- CPU/GPU/RAM/SSD,HDD: Intel Core i5-8250U CPU @ 1.6 GHz, 16 GB of RAM, HDD of about 250 GB.
- OS version (full version, not just Windows 10): OS Windows 10 Enterprise, version 10.0.17763 N/A Build 17763
- Version of Windows app: 7.5.442

### 🐞 Actual behavior
User is finding that app uses large (>10%) amounts of battery pow

[2021-02-22 10:33] skel35 opened #4819 "Crash with System.ArgumentException - "The root Visual of a VisualTarget cannot have a parent.""
### 💻 Environment
Platform: Windows
Toggl Version: 7.5.442

### 🐞 Actual behavior
Crash with System.ArgumentException - "The root Visual of a VisualTarget cannot have a parent."

### 💯 Expected behavior
No crash

### 🔨 Steps to reproduce
1. Start the app and immediately start double-clicking on the tray icon, see [user-reported case](https://app.intercom.com/a/apps/ayixs927/conversations/106481307

[2021-02-23 11:00] #4814 closed

[2021-02-23 11:59] #4802 closed

[2021-02-23 12:12] #4815 closed

[2021-02-26 22:06] TheSoloJake commented on #3715
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481307354521)

[2021-02-26 23:02] ni-ka commented on #2154
Stumbled over this as I would also like to display the current task on Gnome,

@MartinBriza I think a DBus API would be great. Maybe for inspiration check https://github.com/gnome-pomodoro/gnome-pomodoro which send DBus notifications on start / pause / time elapsed etc. See below for an example captured with dbus-monitor, BTW inbetween is TogglDesktop which updates its tooltip every 500ms even whe

[2021-03-01 09:30] VeljkoTN commented on #4110
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097020/conversations/106481307345436)

[2021-03-01 17:24] dianetoggl commented on #3270
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/106481307076029)

[2021-03-02 22:36] kallewesterling commented on #3715
Same for me. Is there a way to prevent this/fix it? Or is it something that you're working on?

![image](https://user-images.githubusercontent.com/7298727/109724595-d33c3980-7b7d-11eb-8455-626dbe475636.png)

[2021-03-08 08:07] tkonsta commented on #2897
Even 1,5 years later this issue still exists in my windows client on win 10. After every idle period the question on what to do with the time (discard, keep) shows up two times. So even if I click "keep" when the message appears for the first time, the message appears again and asks me on what to do.

[2021-03-09 16:11] tridian-tn commented on #4805
I noticed the same - switching off "Record activity" appears to keep the Write Bytes figure much lower.

[2021-03-09 16:14] skel35 opened #4824 "App window does not show up in a different Linux workspace when clicking tray icon"
### 💻 Environment
Platform: Linux
OS Version: Ubuntu 20.04, Mint 20.1
Toggl Version: 7.5.334, 7.4.528

### 🐞 Actual behavior
App window is hidden. Double-clicking tray icon doesn't make it visible.

### 💯 Expected behavior
Double-clicking tray icon makes the window visible

### 🔨 Steps to reproduce
1. Open multiple Linux workspaces
2. Open an app window in one workspace
3. Open a different workspa

[2021-03-10 13:19] fabianfoos commented on #4805
Great! Where is that setting?
Thank you!!

[2021-03-10 16:58] tridian-tn commented on #4805
![image](https://user-images.githubusercontent.com/10810780/110667078-ce046d80-81c1-11eb-93aa-e2ce1f0f8e83.png)

No problem - it's this one

[2021-03-11 08:12] tux255 commented on #3766
Toggl 7.5.441 it was 55MB RAM usage after started app in the morning and over 300MB RAM usage in the middle of the day

[2021-03-11 20:16] dianetoggl opened #4825 "Timezone showing incorrectly"
### 💻 Environment

Platform: Mac
OS Version: 10.16
Toggl Version: 7.5.441

### 🐞 Actual behavior

I've been having a problem since last week. In the desktop client, the timezone seems to be wrong (the vertical timescale on the left shows it's an hour later than it actually is). But the settings on my profile are fine, and indeed when I use the browser version of Toggl, I don't have the issue. Stra

[2021-03-12 10:35] arthurmarquesv commented on #4775
I have the exact same problem!

Platform: Windows 10 Pro
Version: 20H2

[2021-03-12 15:37] TheSoloJake commented on #3715
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481308248968)

[2021-03-16 09:56] #2300 closed

[2021-03-17 04:15] vinismarques commented on #3420
@quinnfive, thank you for pointing this out.

Although the issue you linked does not exist anymore (at least not through this link), I had to fiddle with the Sound Panel a little but eventually found out which Windows sound specifically the Pomodoro Timer uses. It is "Asterisk", as show in the image below:

![image](https://user-images.githubusercontent.com/33668018/111413998-045c5400-86be-11eb-93

[2021-03-17 10:09] TrevorGordon-AMN commented on #4775
How do you get the mini timer to stick overlapping the edge of the screen.  I can drag it past the top, but every time I let go of the mouse it docks properly at the top of the screen.

Edition	Windows 10 Pro
Version	20H2
Installed on	‎22/‎07/‎2020
OS build	19042.868
Experience	Windows Feature Experience Pack 120.2212.551.0

Dual screen one screen above the other.

[2021-03-17 10:26] TrevorGordon-AMN commented on #3142
I like the idea of the taskbar, but it looks like it is a lot of work.  I've only been using the tracker for 1 day and I really like the mini tracker, however it does get in the way from time to time.  I was thinking that making it "run away" along the snapped plane when the mouse comes at it from the sides, then snaps back to where it was once the mouse leaves the area.

[2021-03-17 12:05] vebmaster opened #4826 "Continuous monitoring of running programs"
### 💻 Environment
Platform: Windows
OS Version: 10
Toggl Version: 7.5.442

### 📒 Description

Hello.
Thank you for such a good program for keeping track of work. It helps me a lot, it's very convenient.

1) Auto Update.
How can I disable updating to the latest version? Since the program itself downloads the update to the latest version and after closing and opening the program updates the exe file

[2021-03-17 13:01] skel35 commented on #4826
Hi @vebmaster! Thanks for your report!
1. We don't really support disabling the auto-updating for now. The issue with disabling it is that we may deprecate the APIs that we're using in the future, which means the non-updated apps would become unusable.
We're considering having a special version with disabled auto-updates for some specific user scenarios like restricted environments.  In this case,

[2021-03-17 14:19] skel35 commented on #4826
One more thing I forgot to mention - you can also use the Microsoft Store version of the app and control the auto-updates using MS Store settings.

[2021-03-17 17:06] vebmaster commented on #4826
Thank you.
1) You can add the "Auto Update" option to the settings with ON/OFF options.

2) Can you make the app not track app activity when I have tracking disabled?

3) You can add "Manual Sync" switch in the settings with options ON/OFF. When enabled - data synchronization occurs only after pressing "Sync F5".
In other cases, there should not be any tcp-connection.

Why I don't want auto update

[2021-03-19 08:48] SoLasseVanttinen commented on #4809
I see same behavior, but happens about two times per day, during active usage, not on sleep. Well might happen during sleep as well, but usually I notice it during active usage, especially after google meet meetings.
I try to keep it in virtual desktop 3, but now and again I find it from virtual desktop 2.

[2021-03-19 16:47] jurf opened #4827 "App does not fit onto a classic 1366×768 px display"
### 💻 Environment

Platform: Linux (Flathub)
OS Version: Fedora Silverblue 34/GNOME 40
Toggl Version: 7.5.324

### 🐞 Actual behavior
When launching the app in GNOME, it is higher than the viewport, although there is no reason for that.

### 💯 Expected behavior
The app launches small enough to fit on the screen.

### 🔨 Steps to reproduce
1. Get an older laptop
2. Install/launch Toggl in any environ

[2021-03-21 12:02] kohtala commented on #3858
Hi. Links that require creating an account are not good for bug report. Perhaps copy the material here?

I'm looking if a problem I'm having has already been reported, but it is made difficult if I need to create accounts for issues I like to read. As this is already a year old, there is also suspect if the material is there anymore to be found, should I go through the trouble to set up the accoun

[2021-03-22 14:48] rzfzr opened #4828 "Plus button not showing"
### 💻 Environment
Windows 10 latest, 7.5.442 64bit

### 🐞 Actual behavior
Sometimes when last timer was stopped, and there is no current started the 'plus' button does not show (maybe because of space constrains), but even after a while, it does not update, I have to go one day to the left/right and come back, clicking in the empty space has the same behaviour as clicking in the middle.
![image](h

[2021-03-25 12:30] rzfzr opened #4829 "Give the option to see both list and timeline views at the same time"
I find myself going from tab to tab 10+ times a day, (long reason way given below)
I would love to be given an option in the settings to toggle both views at the same time, with the option to drag the divider between them for resizing, something like this:
![image](https://user-images.githubusercontent.com/13456224/112473097-b0501000-8d4c-11eb-9af9-4899053f56ce.png)
Use case : let's say I stop the

[2021-03-25 12:44] rzfzr opened #4830 "Give the option to hide the activity tracker section"
I guess you can consult the statistics of who uses or not this feature, I've looked into it but do not want to use it in the moment, it would be great to have an option in the settings to hide everything related to it
![image](https://user-images.githubusercontent.com/13456224/112474664-ad561f00-8d4e-11eb-8c12-74bbe3f9d34e.png)

[2021-03-26 12:17] vinismarques commented on #4826
Hi!

I also came here looking for a way to disable the activity tracking feature (item 2 from @vebmaster). I remember having enabled it sometime ago, but now realize I do not need it. I did not find a way to disable it directly and Autotracker feature is already disabled.

[2021-03-26 12:21] skel35 commented on #4826
1. I'll pass the feedback to the product management, thanks.
2. We will make sure no APIs are called if it's disabled. It doesn't really "track activity" now as no data is saved anywhere if "Record Activity" is disabled, and you can check it in the source code.
3. I'll pass the feedback to the product management, thanks.

[2021-03-26 12:23] skel35 commented on #4826
I also came here looking for a way to disable the activity tracking feature (item 2 from @vebmaster). I remember having enabled it sometime ago, but now realize I do not need it. I did not find a way to disable it directly and Autotracker feature is already disabled.

Hi @vinismarques!
If you disable "Record activity" then no data is being tracked.

[2021-03-26 18:20] vinismarques commented on #4826
Hi @skel35,

Thank you for the information! Indeed the option is there on the Timeline tab.

[2021-03-27 23:36] ivokub opened #4831 "Allow disabling built-in server for Linux application"
### 💻 Environment

Platform: Linux (Ubuntu 20.10)

### 📒 Description
I am using TogglDesktop from deb package. TogglDesktop application exposes a port globally as seen from `netstat`:
[code]

I can not find any documentation why this is necessary and how to prevent it. If the listening socket is used for communicating with other plugins (browser plugins, for example), then it would be sufficient t

[2021-03-30 08:14] nidarasheed opened #4832 "App is showing current time as one hour off for user in Brisbane"
### 💻 Environment

Platform: Windows
OS Version: Windows 10
Toggl Version: 7.5.445

### 🐞 Actual behavior
A user on Windows 7.5.445 is seeing the incorrect starting time for each new entry. It is always one hour ahead of their laptop (and Track) timezone. Clearing cache did not help. This has been ongoing for a few weeks, so was also an issue on 7.5.442

### 💯 Expected behavior
the timezone should

[2021-03-31 08:10] pdussart commented on #4759
FYI : cannot reproduce this on Big Sur 11.2.1 and Toggle Track 7.5.411 - Seems to work as designed

[2021-03-31 12:19] xtofl opened #4833 "Linux build environment is not complete after following README.md instructions"
### 💻 Environment

Platform: Linux
OS Version: Ubuntu 20.04
Toggl Version: v7.x

### 🐞 Actual behavior

I follow instructions in the README.md, but can't build.

### 💯 Expected behavior

All required dependencies should be mentioned in the build instructions.  They could even
be automated in e.g. a Dockerfile.  (cf. https://github.com/xtofl/toggldesktop/tree/dockerbuild)

### 🔨 Steps to reproduce

[2021-03-31 19:21] dodalovic opened #4834 "Scaling not working on Pop!_OS 20.10"
Hi,
I'm running Linux Pop!_OS 20.10
I'm using HIDPI displays of my laptop (Dell XPS 9700 4k) and External Display LG 27".

Everything is small :)

I tried running the provided commands to control this, but it didn't affect anything.
How can I help troubleshooting?

Cheers & thanks

[2021-04-02 14:22] TheSoloJake commented on #3270
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481308595317)

@skel35 Your mention of a logout-login above fixes the issue permanently, or is rather a temporary workaround?

[2021-04-02 14:25] skel35 commented on #3270
It is a temporary workaround, the issue can come back if one is triggering manual sync.

[2021-04-02 20:12] TheSoloJake commented on #3270
Thanks for that, Taras; is this something the team would look into fixing in the future?

[2021-04-06 21:12] TheSoloJake commented on #3270
[This case](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481308595317) actually contains a screencap of the issue occurring, for reference

[2021-04-08 12:24] VeljkoTN opened #4835 "Issue with updating the duration if a running TE when change is made via mobile."
### 💻 Environment

Platform: Windows 10
OS Version: Windows 10
Toggl Version: 7.5.445

### 🐞 Actual behavior

The user starts a running timer using the iOS Track app and adjusts the start time to an earlier time. They then start the Win desktop app and the app is showing the running timer and the correct start time (the new one after edits on mobile) but it still shows the original duration.

###

[2021-04-13 10:20] VeljkoTN commented on #4835
another user reached out, [intercom 🔗](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481308764292)

[2021-04-14 14:29] atsvirchkova opened #4836 "Create project popup closes after client selection ocassionaly"
### 💻 Environment

Platform: Windows
OS Version: all Windows
Toggl Version: 7.5.442

### 🐞 Actual behavior

Popup closes on its own and resets all typed in user data.

### 💯 Expected behavior

Popup shouldn't close.

### 🔨 Steps to reproduce

1. Open edit view for some time entry.
2. Click "Create new project".
3. Select some client. Then re-select some other one. Repeat it until the popup doesn't

[2021-04-15 10:18] nidarasheed opened #4837 "The interface went off screen after being in tablet mode"
### 💻 Environment

Platform: Windows 10
OS Version: 10
Toggl Version: 7.5.445

### 🐞 Actual behavior
Tablet mode problem on Windows 10. My computer sometimes works in Tablet Mode. Toggl went into a really specific strange screen mode in which the interface position was likely &#34;saved&#34; off-screen. The symptom is: you open Toggl, but interface does not show. Close-reopen and it is still not t

[2021-04-15 13:59] andras-g commented on #3968
For me this feature would be a must (and for the browser version as well), without this I don't even use Toggl Tracker, I always forget to turn it off when I stand up from my PC...

[2021-04-16 14:57] kudlav commented on #4780
When I enable the "run app on Win login" feature, the Toggl Track v7.5.445 (64-bit) starts maximized which is annoying.
I would like to start the app in the background, so setting for the window to NOT appear on the screen when starting on Windows would be appreciated.

[2021-04-19 11:20] kudlav commented on #4780
Hi, I have installed the version from github and the app is started hidden.
Then I try to install back version from Microsoft Store and the app is stated with displayed window.

This is definitelly bug, but if @VeljkoTN wants displayed UI, just install app from Microsoft Store.

[2021-04-19 11:26] VeljkoTN commented on #4780
@kudlav thanks for sharing this! We're not sure why this behavior is different depending on where you get the app from but we can look into it.

Thanks again for letting us know about this!

[2021-04-20 08:59] skel35 commented on #4780
Thanks for reporting this @kudlav!
The behavior should be uniform indeed and it's best to have a setting to control whether the app starts minimized.

The Store app and the standalone app use different mechanisms to run the app on Windows login, so that's probably why starting minimized doesn't work for the Store app. We'll look into it.

[2021-04-20 15:18] skel35 commented on #4835
### Initial investigation

Reproduced on both Windows and macOS.
`time_entry.cc` `LoadFromJSON` is still reading `duration`, `start`, and `stop` from the JSON response separately, which can potentially cause issues if they're out of sync because they're interdependent.

There's very likely a difference in the way the new iOS app is pushing time entry updates, given the issue hasn't been reported p

[2021-04-21 04:57] furai opened #4838 "Project status"
Hey,

First of this is not a complaint. Thank you all for your hard work.

I wanted to ask what's with the project? Is it on hold now? Why there were no builds for over 2 months?

Is there anything blocking us? Can we do something to get this thing going again?

I'm sorry if there was some blog post about it or some information somewhere and I've missed it.

Cheers,
Furai

[2021-04-22 08:10] nidarasheed opened #4840 "Edit time entry popup only opens if you're scrolled to top of app"
### 💻 Environment

Platform: macOS
OS Version: macOS 11.2.3
Toggl Version: 7.5.441

### 🐞 Actual behavior
When “open edit popup when time entry is started” option is selected, the popup only opens if you are scrolled to the top of the app screen, not if you’re somewhere in the middle. I

### 💯 Expected behavior
popup should open no matter where you are.

### 🔨 Steps to reproduce

1. scroll down on

[2021-04-22 09:23] skel35 commented on #4838
Hi @furai!
At the moment this project is in a "critical bug fixes only" status.
We haven't decided on the future of this project yet, but there will definitely be updates about `toggldesktop` and the future of the Toggl Track desktop apps later this year.

A company like ours has limited resources and so right now we aren't spending them on this particular app. We might continue with this one or d

[2021-04-25 17:02] kaovilai opened #4841 "Add ticking sound playback option"
### 💻 Environment

Platform:

### 📒 Description
Similar to https://github.com/toggl/toggl-button/issues/1568

### ⭐️ Why do you want this?

💪

[2021-04-28 13:51] SuperJC710e opened #4842 "Incorrect label for StartupWMClass in the desktop file prevents adding application to favourites."
### 💻 Environment

Platform: Linux
OS Version: Solus 4.2 Budgie
Toggl Version: 7.5.234 (Flatpak)

### 🐞 Actual behavior
Shortcut cannot be added to favourites in the taskbar.

### 💯 Expected behavior
Shortcut can be added to favourites in the taskbar.

### 🔨 Steps to reproduce

1. `flatpak install flathub com.toggl.TogglDesktop`
2. Run the application
3. Try to add it to favourites in the Budgie T

[2021-04-29 18:11] elipavlov opened #4843 "Current entry editor is not showing"
### 💻 Environment

Platform: macOS
OS Version: 10.15.7
Toggl Version: 7.5.441

### 🐞 Actual behavior
Current entry editor is not showing, and instead of that I see the "Add Time Entry" button.
But a time entry, pushed from another application (e.g. from a mobile app) has appeared.

### 💯 Expected behavior
Current entry editor is showing.

### 🔨 Steps to reproduce
I did not notice anything special

[2021-04-30 06:10] slawqo opened #4844 "TogglDesktop terminated very often on ArchLinux"
### 💻 Environment

Platform: Linux
OS Version: ArchLinux Linux p1 5.11.16-arch1-1 #1 SMP PREEMPT Wed, 21 Apr 2021 17:22:13 +0000 x86_64 GNU/Linux
Toggl Version:
Toggldesktop installed from the aur package https://aur.archlinux.org/packages/toggldesktop-bin/

### 🐞 Actual behavior
App is closed very often. In Logs I found something like:

2021-04-29 14:57:07.757 [990565 6]:context:D:updateUI displa

[2021-04-30 09:54] AndrewVebster commented on #4843
@elipavlov it looks like the app accidentally switched the timer to "Manual mode".
You can switch back using the main app menu: Toggl Track -> Switch mode
or by pressing ⌘D
Sorry for the inconvenience.

[2021-05-01 20:52] dianetoggl commented on #4216
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481308855793)

[2021-05-02 09:54] elipavlov commented on #4843
@AndrewVebster, thanks a lot!

It works.

It definitely is not a bug, but my ignorance. Sorry for bothering.

[2021-05-02 09:54] #4843 closed

[2021-05-03 21:07] alliter8 commented on #2955
Still looking for this feature.

[2021-05-06 08:44] josephdsouza86 commented on #4792
How do I upvote this? It's so frustrating only being able to create projects from the desktop app and then have to go into the website to create tasks. PLEASE!

[2021-05-06 11:45] actcanshr opened #4845 "Feature request - Asana desktop app button"
I use Toggl with Asana to keep track of time on projects. Asana has just released a desktop app (yay! offline work management) but I depend on the Toggl button to make it useful.

[2021-05-06 14:20] skel35 opened #4846 "Project assignment is not synced"
### 💻 Environment
Platform: macOS
Toggl Version: 7.5.441

### 🐞 Actual behavior
Project is assigned to a TE on Desktop, but is not synced to the server (the TE is without project in the web app).

### 💯 Expected behavior
Assigned project is synced to the server.

### 🔨 Steps to reproduce
1. Go offline
2. Without starting a TE, create a project in the Timer view. Timer view should now have the new

[2021-05-06 14:30] maritoggl commented on #4846
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481309032029)

[2021-05-12 08:47] furai commented on #4727
Still an issue?

[2021-05-13 10:59] maritoggl opened #4847 "Hashtags stripped from description when using autocomplete with a TE that has a tag attached"
### 💻 Environment

Platform: macOS
OS Version: macOS 11.2.3
Toggl Version: 7.5.441

### 🐞 Actual behavior
A user tries to continue a time entry that has a hashtag included in its description. For doing that, the user uses the autocomplete functionality. In case the TE that the user wants to continue also has a tag attached to them, the hashtag in description and everything that follows the hashtag

[2021-05-13 16:07] mijewe commented on #2223
+1 for this.

Probably the only app on my Mac that I do actually want to have this option!

[2021-05-14 19:05] mordka commented on #4787
Please resolve it! It's time consuming to reopen toggl everytime I resume laptop from sleep (because network was gone for a moment)
Steps to reproduce
1. Toggle Desktop for Linux
2. Start tracking project
3. Go offline (no wifi)
4. Stop tracking project
5. CRASH! Segmentation fault
Error below:

[code]

[2021-05-19 14:14] TheSoloJake commented on #4846
@skel35 As a follow-up on the datafix you mentioned in this issue:  is this something a user would readily be able to do on their own?

[2021-05-19 14:22] skel35 commented on #4846
They can do it on their own, yes.
The easiest way that I know of would be:
- Download and install [DB Browser for SQLite](https://sqlitebrowser.org/)
- Open our app's database file with it
- Open `Execute SQL` tab
- Paste the script mentioned in the issue and execute it

We could also do it on their behalf given they share their database file with us.

[2021-05-19 17:42] TheSoloJake commented on #4846
...and if someone isn't all that... technical... this wouldn't be recommended? 😄

[2021-05-27 00:51] TheSoloJake commented on #4846
@skel35 I can't seem to get the script to work; would you be able to give it a shot? The latest response from the user [here](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481309032029) contains the DB file

[2021-05-27 06:38] skel35 commented on #4846
@TheSoloJake  In this database all time entries except one have their projects assigned, so there's nothing to fix.

[2021-05-27 17:46] TheSoloJake commented on #4846
@skel35 So the entries in the sb are showing with the project names assigned, but the user is claiming that they're not coming over to the webapp. At least what's what I'm reading from the case.

So the db file has all the correct information, but it's not syncing to the webapp?

[2021-05-28 06:59] skel35 commented on #4846
So the db file has all the correct information, but it's not syncing to the webapp?

That's what we need to find out from the user. I'm looking into Backoffice for this user and I see almost no time entries without projects. The only time entry from the past 10 days that doesn't have a project also doesn't have it assigned locally in the desktop app. So I do not know which issues this user is expe

[2021-05-30 11:12] tastyminerals commented on #4259
Are you still blocked by two third-parties?

[2021-05-31 07:30] furai commented on #4727
@skel35 any news on this?

[2021-06-03 06:07] drummerfun opened #4848 "Dropdown empty in Firefox"
Firefox 88.0.1 (default browser)
Toggl Track Desktop Client: 7.5.445 64 bit
Windows 10

Reproduction:
In Toggl Track Desktop Client go to Settings Menu and choose entry "Reports".
You will get to the https://track.toggl.com/reports... in Firefox.
Now move to an already existing time entry and try to add an already existing tag.
You will see that the dropdown list with the tag entries is empty.

So

[2021-06-06 20:53] max-sixty opened #4849 "Setting Option+Shift+<> Shortcuts in Mac doesn't seem to work"
### 💻 Environment

Platform: macOS
OS Version: macOS 11.3.1
Toggl Version: 7.5.441

### 🐞 Actual behavior
When setting shortcuts in Preferences -> General -> Show/Hide Toggl, I can't seem to set any shortcuts with Option (aka Alt) + Shift + <Character>.

I've tried most of the alphabet. I'm fairly confident it's not another app shadowing the shortcut, since I can set the same shortcut in another a

[2021-06-08 10:19] skel35 opened #4850 "Hidden notification cannot be clicked anymore"
### 💻 Environment
Platform: Linux
OS Version: Kubuntu 21.04
Toggl Version:  Toggl Track (the Flatpak app) 7.5.324

### 🐞 Actual behavior
The user has reported the following issue:

The issue is that once that notification hides and moves to the history/list of notifications that were once shown, it cannot be clicked anymore.

### 💯 Expected behavior
The hidden notification can still be clicked

##

[2021-06-08 10:20] skel35 commented on #4850
[Case](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481309351974)

[2021-06-09 23:03] edtamayo commented on #4509
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481309362644)

[2021-06-09 23:19] samwzlim opened #4851 "Bring 'Focus mode' from Chrome/Firefox extension to the desktop app"
### 💻 Environment
Platform: macOS and Windows (since I daily drive both). Linux too, why not!

### 📒 Description
Bring 'focus mode' from Chrome/Firefox extension over to desktop app.  [toggl/toggl-button#1590](https://github.com/toggl/toggl-button/pull/1590)
![rSCDI15lVQ](https://user-images.githubusercontent.com/74489037/121441019-958c4f80-c9bb-11eb-8bd2-dd8e8f429e85.png)

### ⭐️ Why do you want

[2021-06-10 09:56] AndrewVebster commented on #4849
Hey @max-sixty 👋
Sorry for the late response. Shortcuts work on my device. Could you please share your settings just in case, so I can try to reproduce them?

[2021-06-10 15:49] max-sixty commented on #4849
Hi @AndrewVebster — thanks for responding. For sure re settings — what would you like to see?

Here are my current settings — I can't change the Alt+Shift+Cmd+T to Alt+Shift+T.

<img width="400" alt="image" src="https://user-images.githubusercontent.com/5635139/121556434-b9a25d80-c9c8-11eb-9c62-b8ed805aceb2.png">

[2021-06-10 21:26] TheSoloJake opened #4852 "Clicking to Refocus App Creates Time Entry"
### 💻 Environment

Platform: macOS
OS Version: 11.4
Toggl Version: 7.5.441

### 🐞 Actual behavior
(While app is in Timeline view): When clicking on app while it is out of focus, the app will automatically create a time entry.

### 💯 Expected behavior
One click should only bring the app into focus, and another click should then create the time entry.

### 🔨 Steps to reproduce

1. Open app
2. Click

[2021-06-11 08:34] AndrewVebster commented on #4849
I see now. I cannot record such keyboard shortcut either. The problem is with the control we use for shortcuts (just saw that few other apps have this issue too). I will create the issue and ask if it can be fixed.
Thanks for reporting it.

[2021-06-11 09:47] VeljkoTN opened #4853 "Hover color matching project color in Linux app"
### 💻 Environment

Platform: Linux
OS Version: Linux x86_64
Toggl Version: 7.5.324

### 🐞 Actual behavior

A user reached out about the fact that when they hover over a time entry the app assigns a color to the time entry they are hovering over that matches their project name colior making it almost invisible:

![screenshot-toggl intercom-attachments-5 com-2021 06 11-11_45_20](https://user-images.

[2021-06-14 16:12] santiagoballadares commented on #4397
You cannot seriously expect everybody to like the same color scheme unless it is neutral. At least add themes support (in both MacOS and Windows); something like Slack maybe.

[2021-06-15 08:32] skel35 opened #4854 "Closing the message box in the maximized view moves the main window to the background"
### 💻 Environment
Platform: Windows
Toggl Version: 7.5.451

### 🐞 Actual behavior
The main window is moved to the background, the previously focused window is in the foreground.

### 💯 Expected behavior
The main window is in the foreground.

### 🔨 Steps to reproduce
1. Open the app in the maximized state
2. Create a time entry (> 15s long)
3. In the Edit view, click Delete
4. Confirm the deletion

[2021-06-15 11:04] #3508 closed

[2021-06-15 11:59] VeljkoTN commented on #4854
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2097020/conversations/106481309315427)

[2021-06-18 15:05] sagarvora commented on #2223
Yeah, let's get this on Linux as well!

[2021-06-22 18:41] justytho opened #4856 "Feature Request: Change Taskbar Icon during Pomodoro Break"
Hi Toggl Team,

I think it would be very useful if the app icon showed a secondary active color during pomodoro breaks!

### 💻 Environment

Platform: Windows, but probably useful across other desktop apps

### 📒 Description
Instead of the Toggl Primary Color, the app icon should show a color to indicate it's active, but maybe a cooler color to indicate that the user is currently in a Pomodoro brea

[2021-06-29 18:26] TheSoloJake commented on #4311
@AndrewVebster I know it's been a while, but I've got a new [case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481309425538)

[2021-07-01 21:36] thiagoneves50 commented on #4841
I would also love this feature on the desktop app, just like we have it on the chrome extension.

[2021-07-02 02:27] Largo commented on #4805
I investigated today why my new laptop already has 9 percent of writes. The feature was turned on for a while and for sure had a big impact. Even with the feature turned off, toggl desktop has written 156 MB to the disk in 12 hours, which also seems excessive.

[2021-07-08 07:49] skel35 opened #4857 "Linux app scaling issues when having multiple high DPI screens"
### 💻 Environment
Platform: Linux
OS Version: Pop!_OS 20.04 LTS
Toggl Version: 7.5.324

### 🐞 Actual behavior
The time entry list and the timer description font size are too small compared to the rest of the apps.

### 💯 Expected behavior
The time entry list and the timer description font size are legible and are comparable to the font size in the rest of the apps.

### 🔨 Steps to reproduce
### 📦

[2021-07-11 01:51] davidgilbertson opened #4858 "Autotracker should start AND stop automatically."
### 💻 Environment

Platform: Windows/all

### 📒 Description

Autotracker starts a new entry as expected, but doesn't stop automatically. Is that by design? I would expect:
I set up an autotracker entry for "study" when a particular window is focused. When that window is open/focused, it should record study time, when I close that window (when the focused window does not match the tracker), it shou

[2021-07-11 07:52] tonyxiao opened #4859 "Countdown timer for pomodoro"
### 💻 Environment

Platform: macOS

### 📒 Description
While Pomodoro mode is active, instead of showing time elapsed, show amount of time remaining.

### ⭐️ Why do you want this?
This avoids doing mental math of 25 (or whatever I happen to have the Pomodoro Timer setting to be at) minus currently elapsed time to know how much time is remaining. It really helps with focus and staying alert.

[2021-07-11 23:16] dianetoggl commented on #4857
[Case reference](p)

[2021-07-14 23:09] ryan-efendy opened #4861 "Native M1 support"
### 💻 Environment

Platform: macOS Big Sur on M1 Mac Apple Silicon

### 📒 Description
Are there any plans to add native support for Apple Silicon in the near future?

### ⭐️ Why do you want this?
Optimized for Apple hardware

[2021-07-21 02:23] rzfzr opened #4862 "Make should work on windows?"
### 💻 Environment
Windows, VS2019

### 📒 Description
I just cloned my own fork of the project, before making any changes I ran 'make test' for sanity sake, here is the result:
![image](https://user-images.githubusercontent.com/13456224/126420469-09996bac-5c87-43f8-b267-abaa88a75e78.png)
make lint and fmt give out different errors, is this command only supposed to work on linux?

[2021-07-22 09:47] AndrewVebster commented on #4861
hey @ryan-efendy 👋
We're currently reworking the internals of our native desktop apps and we're planning to release the refreshed apps later in 2021. They will definitely have native M1 support.

[2021-08-05 21:22] TheSoloJake opened #4863 "Linux App: Error When Clicking on Reports Button"
### 💻 Environment

Platform: Linux
OS Version: Ubuntu 18.04.5 LTS
Toggl Version: 7.4.528

### 🐞 Actual behavior
User notes in [convo](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481309623163) that attempting to click on the reports button within the app throws a "HTTP ERROR 418" message

### 💯 Expected behavior
Clicking on the report button should bring user to re

[2021-08-06 02:49] nicktoggl commented on #4863
Reports page is opening a Chrome browser when the reports link is clicked, but doesn't progress. See convo link in OP for more details.

[2021-08-06 07:11] skel35 commented on #4863
The latest stable version of the Linux app is 7.5.324, please tell the user to use that.

[2021-08-06 11:01] nidarasheed commented on #4863
Thanks!

[2021-08-07 16:07] vendojo commented on #3715
Same issue here on macOS (M1). This is sadly diluting the value of the timeline view.

Would it be possible to allow users to exclude terms from displaying in the timeline view? Just like it's possible to auto-track things and assign project based on terms? Shouldn't be too hard to implement, right?

This way, users would be able to work around it, or you could even add 'loginwindow' and 'screensa

[2021-08-12 06:08] AndrewVebster commented on #3715
hey @vendojo, thanks for bringing this up. We will keep this in mind and try to include a bug fix in the new macOS app.

[2021-08-12 11:39] maritoggl commented on #3715
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2100822/conversations/106481309659413)

[2021-08-13 07:11] nicktoggl opened #4864 "Idle detection issue - Mac Desktop app (may affect Windows as well)"
### 💻 Environment

Platform: MacOS
OS Version: MacOS 11.4 Big Sur, M1 Macbook Air
Toggl Version: osx_native_app/7.5.441

### 🐞 Actual behavior
From user

“Idle Detection doesn’t work. Almost every morning, when I’ve forgot to stop Toggle Track tracking time, after opening my M1 MacBook Air lid, it correctly says 'You’ve been idle since 17:30' or something, but then it suddenly changes to You’ve be

[2021-08-13 07:18] skel35 commented on #4864
same or related issues https://github.com/toggl-open-source/toggldesktop/issues/4663 https://github.com/toggl-open-source/toggldesktop/issues/2822 https://github.com/toggl-open-source/toggldesktop/issues/2405 https://github.com/toggl-open-source/toggldesktop/issues/2363

[2021-08-13 10:57] maritoggl opened #4865 "macOS app timeline view occasionally freezes and does not display newly created time entries"
### 💻 Environment

Platform: macOS
OS Version: macOS 10.11
Toggl Version: 7.5.441

### 🐞 Actual behavior

Occasionally, adding new time entries results in the timeline view freezing - new time entries do not show up in the timeline view. It can be fixed only with an app restart.

### 💯 Expected behavior

Timeline view does not freeze and new time entries created in list view or elsewhere show up i

[2021-08-16 18:26] TheSoloJake commented on #3715
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481309669693)

[2021-08-23 11:56] mepoland opened #4866 "Use hash tag # to quickly add tags"
### 💻 Environment
Platform: Windows 10

### 📒 Description
In the Toggl web app, there is an option to use the hash tag # symbol to quickly add tags while writing an entry's description.

![image](https://user-images.githubusercontent.com/62782815/130442886-9cc9ec00-dff0-4342-a13d-dccc03a636bc.png)

This feature is turned on in the user profile settings.

![image](https://user-images.githubusercont

[2021-08-30 19:08] jmhbrown commented on #4268
I ran into the same error on Ubuntu 20.04.2, Toggl version 7.4.184. Found this suspect line in `~/.local/share/Toggl/Toggl\ Desktop/toggldesktop.log`:
[code]

Removing the file `~/.local/share/Toggl/Toggl\ Desktop/toggldesktop.db` fixed the issue.

[2021-09-07 17:36] astrochun commented on #4847
I'm also having the same issues as I've gone back to multiple records to not find tags even though previous records all include some sort of tags.

[2021-09-07 19:13] mjsr-sr commented on #3142
While I like this Idea, I found a workaround that is to reserve screen size for the toolbar. I did that with the application MaxTo, I had to play a bit with its config file to achieve the size I want it but it was worth it. You could check some screenshots here https://github.com/digitalcreations/MaxTo/issues/761

You could think on that alternative too, maybe is more simple to implement.

[2021-09-09 06:07] pablohs1986 opened #4867 "Can't add task to project from mini-timer on Windows"
### 💻 Environment
Toggl 7.5.445
Platform: Windows 10 Pro 64 bits 21H1

### 🐞 Actual behavior
Can't add task to project from mini-timer on Windows. The button to do it doesn't work, it doesn't do anything.

### 💯 Expected behavior
Allow adding task to project from mini-timer (as before).

Thanks!!

[2021-09-09 07:17] skel35 commented on #4867
Hi @pablohs1986 !
Can you please share in more detail what exactly doesn't work?
Screenshots or a short screen recording would be appreciated, thanks!

[2021-09-09 07:30] pablohs1986 commented on #4867
Sorry, I just realized that you have to double click on "add project" for add a project from mini timer... I was clicking just once . I close the issue. Sorry and thanks!!

[2021-09-09 07:30] #4867 closed

[2021-09-13 18:12] dianetoggl commented on #4379
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/3540765/conversations/106481309702562)

[2021-09-14 11:20] skel35 commented on #4846
Instructions on how to use TablePlus to run the abovementioned script:

1. Click "Create new connection..." and then select "SQLite".
![image](https://user-images.githubusercontent.com/16451391/133247433-52e5ebfc-63c2-4cab-bcd9-96d2b8b313d9.png)
2. Click "Select SQLite database file" and select the `toggldesktop.db` file (make sure to back up the file before doing so).
![image](https://user-images

[2021-09-20 08:02] nidarasheed commented on #4744
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/unassigned/conversations/106481309703743)

[2021-09-21 08:11] markffrench commented on #4322
It seems like this isn't getting much traction since the last comment was a year ago, but I wanted to put my +1 on this. It's quite an annoying QoL issue.

[2021-09-21 11:32] rzfzr commented on #4322
@markffrench as of in the readme
[code]
:/

[2021-09-21 13:16] kadrihvl opened #4868 "Issues due to Required Fields"
### 💻 Environment

Have reproduced the issue on Mac (7.5.441), customer is using latest Win.
Platform:
OS Version:
Toggl Version:

### 🐞 Actual behavior

If a team is using the Required Fields feature, desktop app is not handling the entries in a user friendly way. Current state:
If a user saves an entry that doesn't have all required fields selected; any following TEs that do have all required el

[2021-09-21 13:21] kadrihvl opened #4869 "App goes offline"
### 💻 Environment

Platform:
OS Version: 7.5.441
Toggl Version:

### 🐞 Actual behavior

While testing the required fields the app went offline after taking the steps described below.
### 💯 Expected behavior

### 🔨 Steps to reproduce

1. added one entry that didn't have required fields selected.
2. added another TE with all necessary fields attached.
3. I deleted the TE with unmet constraints.
4. I

[2021-09-21 15:38] skel35 commented on #4869
If the behavior is exactly the same than the logs in the issue description should be enough.

[2021-09-22 13:52] webserviceXXL commented on #4861
@AndrewVebster Any update on this? Native M1 support would be nice. 😎

[2021-09-24 08:21] AndrewVebster commented on #4861
@webserviceXXL we're working hard to release something by the end of 2021 🙌

[2021-09-28 08:07] kadrihvl commented on #4869
[This user](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/conversation/106481309703453) also reported the same issue.

[2021-09-28 10:47] kadrihvl commented on #4869
user ID 6010897 also reported the same behaviour.

[2021-09-28 22:03] astrochun commented on #4847
Follow-up. I found a work around. When this happens, I re-edit the description and select the entry again and it seems to then catch the tags.

[2021-09-30 17:20] zsiegel92 commented on #4812
I submitted this exact issue a few weeks ago via the "Send Feedback" tool in the app. I came here to submit it as a bug, and I'm glad someone already has.

Pressing "New" should focus the entry creation window; pressing "Continue" and "Stop" should not. Currently it is the exact opposite.

Thank you very much!

[2021-10-10 15:49] AathifMahir opened #4870 "Windows 11 Design Language for Toggl"
### 💻 Environment

Windows 11

Platform:
Windows

### 📒 Description

Love to see, Toggl for Windows Adapting to Windows 11 Design Language with Rounded Corners, Mica, etc..

### ⭐️ Why do you want this?

To make the Toggl to look good on Windows 11 and adapts to the UI and UX

[2021-11-03 11:29] alexkaessner opened #4873 "Support of Shortcuts (App) for Mac"
### 💻 Environment

Platform: macOS

### 📒 Description
<!-- Short and concise description of the imporovement/feature -→
Now with [macOS Monterey supporting Shortcuts on Mac as well](https://developer.apple.com/videos/play/wwdc2021/10232/), it would be awesome to see Toggl’s iOS Shortcuts support migrated to Toggle Desktop. Just like on iOS it would be great to have the ability to start, continue &

[2021-11-04 13:29] GitMurf opened #4874 "Just curious, has development stopped? Haven't seen any updates since beginning of 2021"
Toggl is working great. No real complaints or wishes right now (on Windows app). But I follow this project pretty closely and have noticed no new versions since early in 2021. Has development stopped for the time being?

Thanks!

[2021-11-04 13:50] pirras-torres commented on #4874
![Screenshot_20211104-074758_Edge](https://user-images.githubusercontent.com/24257201/140325435-1ebf6eca-e56b-4995-bd19-69fe9ed58405.jpg)

[2021-11-04 14:19] GitMurf commented on #4874
@pirras-torres ahhh thanks for this. I somehow missed this even though it is at the top of the README haha. Since it is "later in 2021" now, have there been any updates on whether we can expect the release of these refreshed apps soon? Very exciting!

[2021-11-05 14:22] maritoggl commented on #4633
[Convo reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2100822/conversations/106481309711288)

[2021-11-10 16:43] atsvirchkova commented on #4868
A buggy workflow related to this bug:

1. Start a TE, that violates some constraints.
2. Stop this TE.
3. Create a TE, that meets all necessary constraints. See the sync error displayed (because of the previous violating TE).
4. Delete the TE, that violates the constraints.

AR: The TE meeting all constraints won't be ever synced.

ER: We need to agree on what we do. Possible solutions:

- Don't a

[2021-11-11 07:31] nidarasheed commented on #4868
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481309714001)

[2021-11-15 08:06] PsychoData commented on #4689
It would also be nice if you could just directly report on all of the activities to CSV, Excel, or anything where you could see all of the info
Even if you try to expand them, you only get the first little bit of the title, where more of it would often be helpful
![image](https://user-images.githubusercontent.com/3719116/141744567-03bc5c9e-8249-4284-81d5-7150bb3fc9cf.png)

[2021-11-17 19:01] TheSoloJake commented on #4868
[Case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/2137598/conversations/106481309715122)

[2021-11-21 07:56] mich0w0h commented on #3764
Hi, have you tried the following methods?

1. Check Mac's notification preference
2. Reinstall Toggl Desktop
3. Restart Mac

I faced the same issue, but solved it with 3

Enviroment
- macOS Monterey version 12.0.1
- Toggl Version 7.5.441(Stable version)

Hope this helps you.

[2021-11-22 08:39] nidarasheed commented on #3715
User sees login window in timeline activity. [Case](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481309716479)

[2021-11-29 14:26] Alex009 commented on #4861
i and my coworkers still waiting this feature :) after release of M1 Pro and M1 Max most part of mobile developers in our company moved to M1 and we need this feature

[2021-11-30 08:51] Ezema opened #4875 "GNOME resolution scaling doesn't work"
### 💻 Environment
Platform: Fedora Linux 35
GNOME Version: 41.1
Toggl Version: 7.5.324

### 🐞 Actual behavior
When scaling the resolution in GNOME, the toggl app will not adjust to the new

### 💯 Expected behavior
Scaling the resolution to 200% should scale the toggl app too

### 🔨 Steps to reproduce
1. Toggl app opened
2. go to GNOME settings and scale the resolution to 200%

[2021-12-05 16:57] vendojo commented on #3715
Any news on this one, @AndrewVebster? It has been a while...

[2021-12-07 15:39] dmihal commented on #4259
It looks like openssl and poco now work on Apple Silicon

https://github.com/openssl/openssl/issues/12254
https://github.com/pocoproject/poco/issues/3097

Is support still on the roaadmap?

[2021-12-08 12:23] #4868 closed

[2021-12-13 10:52] dx44 opened #4877 "Activity column is hiding when editing activity."
### 💻 Environment

Platform: Windows
OS Version: Windows 10.1
Toggl Version: 7.5.445

### 🐞 Actual behavior
In the Timeline tab, the column Activity is hiding when editing an activity and the window displayed in full screen.

### 💯 Expected behavior
Show the Activity column when editing activity.

### 🔨 Steps to reproduce
1. Open TooglDesktop window in full screen
2. Open TImeline tab
3. Create/ed

[2021-12-14 04:22] spielhoelle commented on #3715
👍

[2021-12-15 15:12] rhukster commented on #4259
Toggl is basically my last app that is NOT apple silicon native.  Not that it's a huge drain on resources, but it's just annoying to have that one last process that is requiring rosetta.  It's nearly 2022, with the release of M1Pro/Max and the new 14" and 16" MBPs, apple silicon is not something that can be ignored anymore. It's not just happening, it's happened.  Toggl needs to **get with the tim

[2021-12-15 15:14] rhukster commented on #4259
cross linking this as it seems there are multiple issues open: https://github.com/toggl-open-source/toggldesktop/issues/4861

[2021-12-23 02:47] ryan-efendy commented on #4861
any update on this?

[2021-12-28 18:25] AudreyMLD opened #4878 "How to Delete "Client" from created "Clients" under dropdown menu"
I have no idea how to submit an inquiry to have my question answered because there isn't any help or user friendly inquiry search - what I did find, took me here. So please excuse if this is the wrong format for the question:

How does one delete a "client" they've created. There is no obvious option to delete or edit the "client" once you've made it part of your workspace list (see attached PDF f

[2022-01-01 23:17] Omranic commented on #4861
ping 👀

[2022-01-03 10:50] mijnschoen commented on #3142
Would love to see the mini-timer running in the taskbar in some way. +1 for this request.

[2022-01-04 09:24] ngalatis commented on #4861
Ping +1 👀
New MBP M1 Pro/Max are coming to their owners and everyone is asking... so is there any progress?

[2022-01-06 17:26] #2398 closed

[2022-01-11 08:01] EEREES commented on #4861
Ping +69 👀
Will we ever get a M1 optimized version? I doubt it...

[2022-01-14 09:59] rubenvw-ngdata opened #4879 "Task description is lost when I update the previous entry"
### 💻 Environment

Platform: Linux
OS Version: Ubuntu 21.04
Toggl Version: 7.5.324

### 🐞 Actual behavior
When manually updating time entries, adding the details for the one tasks removes those from another task. The task description of the other task is then removed. This is really annoying and I never experienced this until I am using Linux.
Most of my time entries are logged through extensions,

[2022-01-19 01:03] zac-almeida commented on #4861
Pingggggg

[2022-01-19 11:40] AndrewVebster commented on #4861
Hey everyone 👋
Huge sorry for missing all those messages and keeping you waiting.
As you may know, we're rewriting our app from scratch, and it will support M1 natively.
We're almost ready to release it for Public Beta. Once we have a public announcement or a final date, I will make sure to notify you also here on GitHub.

[2022-01-19 16:46] evanlooij commented on #2223
... what they said, an on Mac too

[2022-01-20 12:18] luksladky commented on #3431
I've got the same problem. It's not possible to close the black box window or the app. The only way is to kill it through Task Manager.

[2022-01-24 10:20] nidarasheed commented on #4807
[case reference](https://app.intercom.com/a/apps/ayixs927/inbox/inbox/534741/conversations/106481309727826)

[2022-01-29 14:53] SiqingYu commented on #4838
Is there any update for this project?
Do you plan to ditch Qt and use Electron to revamp the desktop client instead?

[2022-01-30 13:25] furai commented on #4838
Hopefully not Electron. Last thing we need is yet another bloated app running in background eating resources.

[2022-02-01 08:57] d4nyl0 opened #4880 "Toggl Desktop for Windows: doesn't obey to "Release channel""
### 💻 Environment
Toggl Desktop for Windows

Platform: Windows
OS Version: Windows 10 21H2
Toggl Version: 7.5.454

### 🐞 Actual behavior
Here on GitHub actually the Latest release is 7.5.363.
On my Toggl Track Desktop, under "About", I selected "Release channel: Stable", but in info I read "Version 7.5.454".

### 💯 Expected behavior
Under "About" I expected to see the correct version, according to

[2022-02-01 09:04] d4nyl0 commented on #4880
Adding details.

Just downloaded and installed version 7.5.363.

Go to "About", select "Release channel: Stable": you get the message "New version 7.5.454 available!" and a button with "Update & restart" is active.

[2022-02-02 08:16] artemvodorez opened #4881 "Mini-Timer improvements"
Good afternoon.
I use Toggle every day at work and would like to suggest a few simple improvements to the mini-timer (Windows Desktop app).
1. Ability to make it transparent. For example, when hovering over it with the mouse cursor. This will allow us to fully use the applications and at the same time always monitor the time of work.
2. Ability to make the mini timer not clickable. This will allow

[2022-02-02 11:17] bankian commented on #3858
This bug is the most frustrating thing about Toggl for me - I'm constantly having to drag the app from my secondary screen (which is in landscape mode)  to the primary one and back again in order to update tasks (and have been doing so for 18 months at least!).

Is there any news on a fix?

[2022-02-06 07:41] #4881 closed

[2022-02-06 14:43] certainlyakey commented on #3480
@RoonilWazzlib Same in the Mac app. i agree, this is pretty strange behaviour, especially given the fact that the Chrome plugin does it right.

[2022-02-13 05:08] rikudoukarthik opened #4882 "Idle detection actions in Linux"
### 💻 Environment
Platform: Linux

### 📒 Description
When idle detection is activated, the notification needs to provide options for the next suitable action: keep time, discard time, or discard and continue.

### ⭐️ Why do you want this?
I recently shifted from Windows to Linux (Mint Cinnamon 19.3). On the former, each idle detection notification that the Toggl Desktop app gave would provide the

[2022-02-15 19:16] buttermilkcakeco commented on #4756
The memory leak has something to do with changing the tooltip on the system tray icon every second while the timer is running.  I don't have time to go down the rabbit hole of plasmadesktop to see why this might be, nor to provide a pull request to the devs that would detect the app is running in plasma and work around the bug.

BUT if you're so inclined to build the app yourself (pretty easy real

[2022-02-21 09:28] samspycher opened #4883 "Timeline for new desktop apps"
Do you have an update on the release timeline of the new apps? The README still shows a planned release for "later in 2021".

[2022-02-22 18:45] ryan-efendy commented on #4861
@AndrewVebster how can we participate in the public beta?

[2022-02-24 20:35] pragya-design commented on #3480
Same issue. Pomodoro settings are off. But stops at 55 minutes

[2022-02-25 14:04] carlos8k commented on #4861
One more waiting this feature! o/

[2022-02-28 08:15] andrewaclear opened #4885 "Linux Terminal Commands"
### 💻 Environment
Platform: Linux

### 📒 Description
It would be really helpful to have a couple terminal commands to continue/stop timer or to show/hide app. For example `TogglDesktop continue` and `TogglDesktop focus`.

### ⭐️ Why do you want this?
The main reason is because the global keyboard shortcuts you have are really helpful and I use them all the time, but Wayland doesn't allow apps to h

[2022-03-01 06:50] sergsadovyi commented on #4861
Please beta :)

[2022-03-09 23:53] djkgamc commented on #2223
lol

[2022-03-10 14:58] fischgeek commented on #4858
I second this.

[2022-03-10 21:28] TheSoloJake commented on #4863
@denismullaraj Wondering if we should just close this issue at this point, considering the current depreciated state of the Linux app. Doesn't make sense to leave it open in the repo

[2022-03-10 21:29] TheSoloJake commented on #4863
Closing due to Linux app's depreciated status

[2022-03-10 21:29] #4863 closed

[2022-03-14 06:42] dholland commented on #4861
Any updates on the public beta @AndrewVebster ?

[2022-03-14 06:50] EEREES commented on #4861
Waiting for Andrews next "Huge sorry" and "almost ready" 👀

[2022-03-16 11:33] toineenzo commented on #4861
When will the beta be ready? Waiting for m1 native app for less battery draining :)

[2022-03-20 15:46] ryan-efendy commented on #4861
Does anyone know of an alternative that supports M1?

[2022-03-29 13:01] ngalatis commented on #4861
If anybody has an alternative I'd like to know as well. I use the browser app of toggl for too long now and can't do this any longer.
Looks like the app is rewritten from scratch, maybe for other reasons as well, so they might have bugs that will take a long time to fix. Meanwhile life goes on so we have to have a viable alternative for anybody that is M1 capable. Personally I simply don't install

[2022-04-07 21:34] matt-simpson commented on #4861
Thanks @Omranic - switched to Clockify.

[2022-04-09 20:32] raphaelsmosaic opened #4890 "Adding time after the fact without needing to enter a specific time-interval in manual mode"
### 💻 Environment

Platform:

### 📒 Description

### ⭐️ Why do you want this?

[2022-04-09 20:47] raphaelsmosaic commented on #4890
I just saw that this is kind of possible using the timer function, but unfortunately there is still a start and end time for the items I am adding this way, which is also displayed on the dayview (screenshot). It would be nice to have it displayed like an "all day event" in google calendar (screenshot) this way I know that I worked on it, but the specific time isnt visually represented - the curre

[2022-04-10 02:10] dianetoggl commented on #4890
https://toggl.productboard.com/inbox/notes/22946341

[2022-04-12 15:46] bitshiftnetau opened #4891 "Desktop prompts to track time when in the middle of a pomodoro on other apps"
### 💻 Environment

Platform: macOS
OS Version: Monterey 12.3
Toggl Version: Track 7.5.441

### 🐞 Actual behavior
If I start a pomodoro or a timer on my iphone, the desktop app will be out of sync and will prompt me to track time when I am already doing so.

### 💯 Expected behavior
Desktop app and indeed entire ecosystem should be in sync. If I start from the web app, the desktop app will sync.

##

[2022-04-12 16:00] bitshiftnetau opened #4892 "Calendar integration"
### 💻 Environment
Platform: macOS
OS Version: Monterey 12.3
Toggl Version: Track 7.5.441

### 📒 Description
The desktop app should have calendar integration i.e. Google Calendar. In fact, it should match the ios app and the web app feature for feature. Otherwise it's just useless cruft you have to maintain and creates a splintered experience which wastes the user's time, undermining your entire se

[2022-04-12 16:40] bitshiftnetau opened #4893 "Pomodoro alarm is broken or non-existent"
### 💻 Environment
Platform: macOS
OS Version: Monterey 12.3
Toggl Version: Track 7.5.441

### 🐞 Actual behavior
No alarm sounds when pomodoro is complete (across all apps, but reporting desktop here)

### 💯 Expected behavior
An alarm or even basic notification should sound at the end of a pomodoro.

### 🔨 Steps to reproduce

1. Start a pomodoro through the desktop app
2. Wait for it to finish
3. W

[2022-04-14 20:11] jazzTheJackRabbit commented on #3480
Just ran into this issue. It seems like it happens when you have multiple desktop clients (across multiple devices). I'm assuming there's probably a bug with the `Pomodoro Timer` settings/configs - they are not being synced across devices, and for some reason, one of the device's settings becomes sticky and seems to be applying to all devices.

[2022-04-18 07:06] ibaranov91 commented on #4861
@Omranic Good advice! Switched as well, thank you!

[2022-04-18 19:25] EEREES commented on #4861
@Omranic thank you, I will switch too.
@AndrewVebster It's 2022 - you should really improve your communication skills. Toggl is not so good that we can't find an alternative ;-)

[2022-04-19 10:56] vkoivula commented on #4259
I really like Toggl, but come on. It is soon two years.

[2022-04-24 13:32] atipugin commented on #4861
@Omranic thx for the tip, switched to Clockify too

[2022-04-24 18:24] webserviceXXL commented on #4861
There is finally a Testflight app available. The UI is nearly 100% the same as before, but running as a native app on M1 macs. I have no idea how the selection for the beta users is working. I was invited by mail.

![Screenshot--TestFlight-20220424_2020](https://user-images.githubusercontent.com/3533300/164990758-77529e50-5c52-462f-94a6-8ebaefc108c9.jpg)

[2022-04-24 18:28] jayjah commented on #4861
That's nice to hear! I am wondering that it's coming from a user and not a Toggle internal.

 But actually just a little bit late. At least for me... I switched to Clockify as well.

[2022-04-24 18:44] llama85 commented on #4861
Not a toggle employee, I've got the m1 beta invite too.

I looked at clockify but a fundamental feature was behind a subscription which toggl provides for free.

[2022-04-25 07:21] canwaf commented on #4259
I've been invited to a TestFlight beta of Toggl which supports Apple Silicon. It should be sooner rather than another 2 years, @vkoivula.

[2022-04-25 15:53] rhukster commented on #4259
I also go the invite but have been on vacation.  Testing it now.

[2022-04-25 19:10] netopolit commented on #4861
Is there a way to apply for Testflight invite?

[2022-04-25 19:12] llama85 commented on #4861
Not that I know of, I just got an email randomly with a link for it from toggl

[2022-04-26 22:20] ryan-efendy commented on #4861
[webserviceXXL](https://github.com/webserviceXXL) can u share this email
![image](https://user-images.githubusercontent.com/12979345/165402124-b19ec548-00e5-49f9-91d1-377c7ff3e37e.png)

[2022-04-27 07:52] webserviceXXL commented on #4861
The feedback button in the Testflight app is just a form, so I can't share a mail-address here. But it seems that you can get in contact with the usual support address. At least this was explained in the invite mail.

![Screenshot-Help make our Mac app better!-Mimestream-20220427_0951](https://user-images.githubusercontent.com/3533300/165468930-370e6823-3271-484f-a6fe-3b835f3c1bad.jpg)

[2022-05-03 07:41] pedy711 commented on #1864
For me, it worked with choosing the third option in the proxy window and entering the proxy's IP address and port.

[2022-05-03 14:06] Zenexer commented on #4861
It looks like they're slowly sending out invitations.  I just got one today.

The beta seems significantly more stable on M1.  I was having a lot of stability issues with the old app, including frequent crashes, particularly when quitting Toggl.

It's still incomplete: there are important settings missing from the beta, for example.  However, it does fix the immediate issue of Toggl being difficul

[2022-05-14 17:03] iluuu1994 opened #4894 "Idle detection doesn't work on Wayland"
This is essentially the same bug report as https://github.com/toggl-open-source/toggldesktop/issues/3390. Under Wayland, Toggl's idle detection never triggers. I specifically know it's Wayland because I have switched from Xorg to Wayland and back on the same distribution in just a couple of days.

### 💻 Environment

Platform: Linux
OS Version: Fedora 36, Wayland, installed through Flatpak
Toggl Ve

[2022-05-14 17:37] iluuu1994 opened #4895 "Pasting doesn't work in Wayland after the suggestion popup has been open"
![test](https://user-images.githubusercontent.com/1752683/168442444-187a8494-fc55-4f3d-9e11-aa2d7d0a4557.gif)

I often need to paste GitHub issue IDs into the description of a time tracking entry. That often starts with `{Bug,Feature} GH-` followed by the id in the clipboard. Unfortunately, the popup opens automatically once I start typing `{Bug,Feature} GH-` (as most of my entries start like that

[2022-05-17 22:36] AtrumGeost commented on #4861
I'm glad the M1 version is already in beta. Since I don't want to wait, I started using Timery. Which works with the Toggl Track account you already have: https://timeryapp.com/

[2022-05-18 17:50] LlZARD commented on #4869
+1

[2022-05-19 05:54] ibaranov-t1a commented on #4861
Actually Timery seems to be less fluent to use. Some input fields require explicitly clicking "OK" to accept the input and etc. I went back to Toggl, they also published an article on how to enroll to Test Flight - https://support.toggl.com/en/articles/6127473-how-to-install-the-toggl-track-desktop-app-s-beta-versions

[2022-05-19 13:29] AtrumGeost commented on #4861
Hey @ibaranov-t1a! Awesome! Thank you, I was indeed missing Toggl when using Timery. Thanks for sharing that post. I'm downloading the beta now.

[2022-05-20 12:59] nataloko opened #4896 "Mini-timer Windows taskbar integration"
### 💻 Environment

Platform:  Windows

### 📒 Description

It'd be great to have the the option to integrate the mini-timer in the Windows taskbar

### ⭐️ Why do you want this?

It'll save usable desktop space and won't get in the way so much.

![i7dwnuukYD](https://user-images.githubusercontent.com/93059500/169532814-1695eca3-314b-40c1-b554-950e2f2681c9.png)

[2022-05-22 15:56] jdc1999 commented on #4896
Agree this would be a great addition. It also would make it much easier to see if a timer is running because the mini window would always be visible.

[2022-05-22 15:58] jdc1999 commented on #3142
Agree this would be a great addition. It also would make it much easier to see if a timer is running because the mini window would always be visible.

[2022-05-24 15:10] paulagoes commented on #2836
I would like to report that Autotracker is no longer working for webpages on MacOS Catalina 10.15.7. and Toggl Track desktop version 7.5.441. The feature is enabled in Preferences and Toggl has screen reading permission.

It only works if the window title has a keyword but this is not very helpful. It used to work prior to MacOS Catalina. Could you please revert back?

[2022-05-27 03:30] kecinzer commented on #4861
Completly agree. And Timery doesn't allow you to "load more entries" from history. You need to use web interface.
I would like Toggle bring more features to macOS app.

[2022-05-28 12:43] AathifMahir opened #4897 "Winget Support for Toggl Track"
It would be really Convenient, If you'll able to add Winget CLI Support for Toggl Track. This Makes it easier use upgrade new version and do a version control if needed

### 💻 Environment

Platform:
**Windows**

[2022-05-30 14:51] Zenexer commented on #4861
The beta is still a bit rough around the edges; in particular, it's been corrupting some of my time entries when switching between devices. It's a lot more stable than the old version though, which constantly crashed for me on M1.

[2022-06-01 07:47] nookerai opened #4900 "Possibility to continue a previously running timer"
### 💻 Environment

Platform: Desktop (possibly mobile too)

### 📒 Description
Add possibility to make timer active after stop as if it was never stopped. At least for the latest running timer.

### ⭐️ Why do you want this?
Many times I want to continue a previous timer, as in it will start running again as if it was never stopped. Reason could be I accidentally stopped it, I made a mistake, or I h

[2022-06-01 07:48] nookerai commented on #4900
Relates to https://github.com/toggl-open-source/toggldesktop/issues/4899
as in, if I could add entries without stopping current timer, I more rarely would want to continuing a previous timer.

[2022-06-09 10:01] maxfi commented on #4259
Any updates on this? Would be great to not have to use Rosetta. Thanks in advance! 🙏

[2022-06-12 05:24] mrsekut commented on #4893
I have the same problem.
I haven't received any notifications since I updated my MacOS to Monterey.
My Mac's preferences notification settings have toggl notifications turned on.

[2022-06-12 11:19] bitshiftnetau commented on #4893
I've stopped using Toggl altogether, they're just not very good at what they do and/or don't have the resources to support their ecosystem. Their latest release also fixes non-priority bugs so I have very little trust in their abilities overall. Surprising given that they somehow managed to gain integration with the likes of monday.com et al.

[2022-06-12 11:19] #4893 closed

[2022-06-14 01:42] alexandrebarbaruiva commented on #2154
@MartinBriza I'd very much like to work on it, however I tried sending an email and received a response saying that your email doesn't exist...

[2022-06-14 06:50] MartinBriza commented on #2154
Yup, sadly I haven't been working for Toggl for over a year and as far as I know, there's no further development happening in the Linux app - or at least, that's what the project homepage implies.

[2022-06-14 10:09] alexandrebarbaruiva commented on #2154
Sad to hear it. Wish you success on your journey!

[2022-06-23 10:20] AndrewVebster commented on #4259
Hey everyone 👋
For those who still did not receive the email invitation to our public Beta and want to participate, you can check out this repository: https://github.com/toggl/track-macos-feedback.

You will see an invitation link in the "How can you help?" section. The app can be installed via Testflight.

[2022-06-23 10:20] AndrewVebster commented on #4861
Hey everyone 👋
For those who still did not receive the email invitation to our public Beta and want to participate, you can check out this repository: https://github.com/toggl/track-macos-feedback.

You will see an invitation link in the "How can you help?" section. The app can be installed via Testflight.

[2022-06-30 20:14] TheSoloJake commented on #2442
Closing because of age of issue and rebuilding of Windows app

[2022-06-30 20:14] #2442 closed

[2022-06-30 20:17] #2862 closed

[2022-06-30 20:34] DanielOberlechner commented on #3715
Hey any updates on this issue?
I use a brand new Macbook Pro 16" with Apple M1 Max and I still have this ugly bug ...

This issue is 2 years old and still not fixed ...

Are you going to fix it, or is it better if I change software? :O

[2022-07-01 07:49] AndrewVebster commented on #3715
Hey @DanielOberlechner

At the moment, we are not implementing anything new in this repository.

We’re currently reworking the internals of our macOS and Windows desktop apps, and we plan to release the refreshed apps soon. If you’re interested in trying the app now, take the beta version for a spin. For more information, please visit the [macOS](https://github.com/toggl/track-macos-feedback) feed

[2022-07-01 13:18] DanielOberlechner commented on #3715
@AndrewVebster
Thank you for informing me that there is a beta.
I've registered myself for it and now I'm using the beta version.

Hope with the beta everything runs well.

Kind regards,
Daniel Oberlechner

[2022-07-17 16:37] vkoivula commented on #4259
Honestly not very impressed with the TestFlight version. Basic functionality like editing a running time entry can sometimes result in UI bugging out and displaying negative values while editing. Would think that input handling in the most basic functionality would be the first things to make robust. Is new Toggl version becoming The Vaporware like TextMate 2.0 back in the ancient days :)

[2022-07-17 22:12] xdmx opened #4901 "Deprecated Linux client?"
The updated README mentions new versions for windows and mac, does it mean that you're deprecating support for linux? Or will that come in the future as well?

/cc @kornelijepetak (as you updated the readme)

[2022-07-18 07:07] kornelijepetak commented on #4901
Hey @xdmx! Thanks for showing the interest in our product.

Sadly, I have to inform you that the answer is positive. As the matter of fact, Linux wasn't supported for almost half a year now, at least in terms of new updates or fixes.

[🔗 This article from our blog](https://toggl.com/blog/purposeful-open-source) explains things much better than I could, so please check it out.
In particular, there'

[2022-07-21 11:44] krasa commented on #4356
bump, pomodoro without a sound alarm just sucks.

[2022-08-10 08:25] leocob opened #4902 "Can't add "What are you working on" on MacOS Monterey (12.5)"
### 💻 Environment
Platform: Macbook pro
OS Version: macOS 12.5
Toggl Version: 7.5.441

### 🐞 BUG
The upper bar doesn't show "What are you working on" anymore. I can't add an interactive time entry. I can only add time entries with start and end times by clicking on the button "Add Time Entry". This happened after updating macOS to 12.5.
I already tried to restart the laptop and to re-install the T

[2022-08-10 08:30] leocob commented on #4902
Never mind, I've just realized I was in Manual Mode, activated by mistake by clicking on the keyboard shortcut Command+D. Sorry for thinking it was a bug 😅

[2022-08-10 08:30] #4902 closed

[2022-08-10 08:31] AndrewVebster commented on #4902
No problem 😄. Was just trying to explain it 👍. We'll work on it so it's less confusing.

[2022-08-11 13:12] ToughDPO commented on #4900
that would be a nice and useful functionality

[2022-08-17 14:59] furai commented on #4901
So if community wanted to keep up the toggle desktop for linux alive - can we contribute here or should we do our own fork?

[2022-10-04 09:14] o771e commented on #3390
I have the same issue.

[2022-10-06 08:54] zd-dalibor opened #4905 "Idle notification appears every 10 minutes"
### 💻 Environment

Platform:
Windows 11
![image](https://user-images.githubusercontent.com/226822/194267602-c1aa1aeb-c90d-4aea-aa6d-a08239f58c1c.png)

### 📒 Description

If you configure idle notification to 10 minutes and you are idle 60 minutes when you camoe back to you computer you will get six notification popups (on every 10 mins you will get a new popup).

I think we should have only one id

[2022-10-06 10:31] kornelijepetak commented on #4905
Hey, thanks for reporting this.

Given that this concerns our new app would you mind reposting this on our [new app's public feedback repository](https://github.com/toggl/track-windows-feedback/issues)?

[2022-10-06 21:21] zd-dalibor commented on #4905
@kornelijepetak
Thanks for this information. I will do it.
Plese colse this if it is not relevant for this repository.

[2022-10-10 09:59] kornelijepetak commented on #4905
Closing as it refers to the new app.

* [ ] https://github.com/toggl/track-windows-feedback/issues/18

[2022-10-10 09:59] #4905 closed

[2022-10-27 11:11] tyrann0us opened #4906 "Why are all GitHub releases marked as "Pre-release"?"
The latest Toggl Track release marked as stable is [v7.5.363](https://github.com/toggl-open-source/toggldesktop/releases/tag/v7.5.363). All newer releases are marked as "Pre-Release". Why is that? Would it be possible to mark them as stable as well, and not mark new releases as "Pre-Release"?

Thanks!

The background is that it's currently not possible to update the `toggl-track` Homebrew cask. ht

[2022-11-01 18:57] Troi7 commented on #4085
Same problem on Windows 10 with versions:
beta 7.5.454
dev 7.5.461

Reinstall with delete local data didn't help. Clearing cache didn't help.

[code]

[2022-11-03 06:32] MurzNN opened #4907 "Create a Toggl widget for KDE Plasma panel to make time control more convenient for Linux users"
### 💻 Environment

Platform: Ubuntu Linux, KDE 5 Desktop.

### 📒 Description
Will be good to create a Toggl widget for KDE Plasma panel, that makes time control significantly more convenient for Linux users!

### ⭐️ Why do you want this?
Because now I need always open the Toggl Linux app or web version to control my time spans, but the plasmoid could allow doing the controlling via a single click,

[2022-11-03 06:34] MurzNN commented on #4907
I've found an already-created widget implementation for Toggl here: https://github.com/FedericoVaga/plasmoggl but it is pretty old and supports only KDE 4. Maybe you can take that code as a basis for your own widget?

I've also asked the author about upgrading to KDE5 here: https://github.com/FedericoVaga/plasmoggl/issues/2

[2022-11-03 06:42] MurzNN commented on #4907
Alternatively, we can create a lightweight web page with only base elements that are needed to track time, like in the desktop app, and integrate it into KDE Plasma panel via something like [Webslice-plasmoid](https://store.kde.org/p/998902)

[2022-11-03 06:43] MurzNN commented on #4901
@kornelijepetak The link to the blog https://toggl.com/blog/purposeful-open-source is showing 404 error now, can you please update it?

[2022-11-03 17:37] kornelijepetak commented on #4901
@MurzNN Hey, thanks for pointing this out. The page should be online again as we speak.

[2022-11-08 21:51] andressltz opened #4908 "Show the current entry name in the Menu Bar (macOS)"
### 💻 Environment

Platform: macOS

### 📒 Description
I want the option to show the entry name in the menu bar. Today, I can toggle the display of the project name, but I want the option to show the "entry name" instead of "project name".

### ⭐️ Why do you want this?
For my work, I have many time entries for the same project, so I need to show the current entry instead current project.

[2022-11-28 15:47] alarcondgtuc opened #4909 "[Feature request] Multiple work hours on "Reminder" preferences desktop app"
I have defined multiple work hours, and the reminders could be useful if I could set them in my specific work hours.

Something like this

![imagen](https://user-images.githubusercontent.com/78399996/204320526-20b6fe67-8ba5-4ba9-9214-15fe758470b5.png)

[2022-11-29 12:25] kornelijepetak commented on #4901
@furai Sorry, I just realized I haven't replied to your comment. 🤦‍♂️

Given that we don't have enough resources to push it forward, handle the community rights/permissions, or make sure the existing PRs are merged, I'd say that it's a better solution to fork it and continue from there.